.marginTopTwenty {
  margin-top: 20px;
}
.marginRightTen {
  margin-right: 10px !important;
}

.marginBottomTen {
  margin-bottom: 10px !important;
}

.default {
  color: #000000;
  padding-left: 5px;
  display: inline-block;
}
.redColor {
  color: #f50a21;
  padding-left: 5px;
}

.paddingZero {
  padding-bottom: 16px !important;
}

.selectedAnswer {
  border-color: #96c8f1 !important;
  background: #edf6fb !important;
  color: #466988 !important;
}

.boldText {
  font-weight: bold;
}

.scoreContainer {
  padding: 40px 0;
  margin-top: 50px;
  text-align: center;
}

.correctAnswer {
  color: #049c03;
}

.inCorrectAnswer {
  color: #e0022a;
}

@media (max-width: 599px) {
  .alignCenter {
    text-align: center;
  }
  .buttonWidth {
    width: 100%;
  }
}
